.front-page-header {
	min-height: $size__block-height;
	display: flex;
    justify-content:center;
    align-items:center;
	text-align: center;
	img {
		max-width: 180px;
	}
	.intro {
		margin: 2rem 0 3rem 0;
		p {
			margin: 0;
		}
		span {
			color: $color__main-brand;
			font-weight: bold;
		}
	}
}
.front-page-block {
	min-height: $size__block-height;
	display: flex;
    justify-content:center;
    align-items:center;
    h2 {
    	margin-bottom: 4rem;
    }
}

#front-page-about {
	img {
		max-width: 200px;
		margin: 0.5rem auto;
		display: block;
	}
	figcaption {
		text-align: center;
		font-size: 1.5rem;
		span {
			color: $color__main-brand;
		}
	}
	p {
		margin: 0 0 1rem 0;
	}
}
#front-page-contact {
	min-height: 0.8*$size__block-height;
}

#front-page-works {
	text-align: center;
	a.button {
		margin-top: 3rem;
	}
	
}